<%= form_with(model: [commentable, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, required: true %>
  </div>

  <div class="actions">
    <%= form.submit t('views.common.title_new', name: Comment.model_name.human) %>
  </div>
<% end %>  