<h1><%= Comment.model_name.human %></h1>
<% @comments.each do |c| %>
  <div>
  <% if User.find(c.user_id).name.size == 0 %>
    <%= User.find(c.user_id).email %>
  <% else %>
    <%= User.find(c.user_id).name %>
  <% end %> 
    <%= ":" %>
    <%= c.content %>
    <%= c.created_at.strftime('%Y/%m/%d %R') %>
    <hr>
  </div>
<% end %>
<%= paginate @comments %>
<%= form_for [@commentable, @comment] do |f| %>
  <%= f.text_field :content %>
  <%= f.submit t('views.common.comment') %>
<% end %>
