<h2>コメント</h2>
<h3>投稿</h3>

<%= form_with model: [commentable,comment ] do |f| %>  
  <%= f.text_area :body ,:required => true %>  
  <%= f.hidden_field :user_id,  :value => current_user.id %><br>
   <%= f.submit "コメントをする" %>  
<% end %>

<table>
  <thead>
    <tr>
      <th>CommentTitle</th>
      <th>投稿者</th>
      <th>投稿時間</th>

    </tr>
  </thead>

  <tbody>
<% comments.each do |comment|%>
     
      <tr>
         <td><%= comment.id %></td>
         <td> <%= comment.body %></td>
         <% if User.find(comment.user_id.to_s).name=="" %>
         <td> <%=  User.find(comment.user_id.to_s).email %></td>
         <% else %>
        <td> <%= User.find(comment.user_id.to_s).name %></td>
         <% end %>
         <td> <%= l comment.created_at %><br></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% commentable.comments.each do |mikan| %>
<%= mikan.body  %>
 <% end %>
