<h2>コメント</h2>
<h3>投稿</h3>

<%= form_with model: [commentable,comment ] do |f| %>  
  <%= f.text_area :body %>  
  <%= f.hidden_field :user_id,  :value => current_user.id %>
   <%= f.submit "コメントをする" %>  
<% end %>

<% @comments.each do |comment|%>

 <%= comment.body %>
 <%= comment.user_id %><br>

<% end %>
