<h2>コメント</h2>
<% commentable.comments.each do |comment| %>
<p>
  <% if comment.user.name.nil? %>
    <strong>メールアドレス</strong>
    <%= comment.user.email %>
  <% else %>
    <strong>氏名:</strong>
    <%= comment.user.name %>
  <% end %>
  <strong>コメント:</strong>
  <%= comment.content %>
  <strong>投稿日時:</strong>
  <%= comment.created_at.to_s(:datetime_jp) %>
</p>
<% end %>

<%= form_with(model: [commentable, Comment.new]) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
