<%= form_with(model: [@book, @comment], local: true) do |form| %>
  <div class="field">
    <%= form.label :comment_content %>
    <%= form.hidden_field :id, value: @comment[:id] %>
    <%= form.hidden_field :commentable_type, value: @comment[:commentable_type] %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.text_area :comment_content, size: '50x5', required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
