<p id='notice'><%= notice %></p>

<h1><%= User.model_name.human %>一覧</h1>

<table>
    <thead>
        <tr>
            <th><%= User.human_attribute_name(:name) %></th>
            <th><%= User.human_attribute_name(:email) %></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= link_to t('views.common.show'), user_path(user) %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= paginate @users %>