<h1><%= t('views.common.title_show', name: User.model_name.human) %></h1>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
  <%= @user.self_introduction %>
</p>

<p>
  <strong><%= User.human_attribute_name(:avatar) %>:</strong>
  <% if @user.avatar.attached? %>
    <br>
    <%= image_tag @user.avatar.variant(resize_to_fill: [150, 150]) %>
  <% end %>
</p>

<ul>
  <li><%= link_to t('.followings', count: @user.followings.count), user_followings_path(@user) %></li>
  <li><%= link_to t('.followers', count: @user.followers.count), user_followers_path(@user) %></li>
</ul>

<% if current_user.following?(@user) %>
  <%= form_with(url: user_relationships_path(@user), method: :delete, local: true) do |f| %>
    <%= f.submit t('.destroy') %>
  <% end %>
<% elsif current_user != @user %>
  <%= form_with(url: user_relationships_path(@user), local: true) do |f| %>
    <%= f.submit t('.create') %>
  <% end %>
<% end %>

<% if current_user == @user %>
  <%= link_to t('views.common.edit'), edit_user_registration_path %> |
<% end %>
<%= link_to t('views.common.back'), users_path %>
