<h1><%= t('title.detail') %></h1>
<h3><%= t('user.name') %></h3>
<%= @user.name %>
<h3><%= t('user.zip') %></h3>
<%= @user.zip %>
<h3><%= t('user.address') %></h3>
<%= @user.address %>
<h3><%= t('user.email') %></h3>
<%= @user.email %>
<h3><%= t('user.profile') %></h3>
<%= @user.profile%>
