<p>
  <strong>name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>postcode:</strong>
  <%= @user.postcode %>
</p>

<p>
  <strong>address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>biography:</strong>
  <%= @user.biography %>
</p>

<%= link_to t('views.common.back'), users_path %>
