<p id='notice'><%= notice %></p>

<h1><%= User.model_name.human %>情報詳細</h1>

<div>
    <strong><%= User.human_attribute_name(:name)%></strong><br>
    <%= @user.name %>
</div>
<br>
<div>
    <strong><%= User.human_attribute_name(:email)%></strong><br>
    <%= @user.email %>
</div>
<br>
<div>
    <strong><%= User.human_attribute_name(:postal_code)%></strong><br>
    <%= @user.postal_code %>
</div>
<br>
<div>
    <strong><%= User.human_attribute_name(:address)%></strong><br>
    <%= @user.address %>
</div>
<br>
<div>
    <strong><%= User.human_attribute_name(:information)%></strong><br>
    <%= @user.information %>
</div>
<br>

<div>
    <%= link_to '戻る', users_path %> | 
    <%= link_to '編集', edit_user_registration_path %>
</div>