<h1><%= t('views.common.title_show', name: User.model_name.human) %></h1>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
  <%= @user.self_introduction %>
</p>

<p>
  <strong><%= User.human_attribute_name(:avatar) %>:</strong>
  <% if @user.avatar.attached? %>
    <br>
    <%= image_tag @user.avatar.variant(resize_to_fill: [150, 150])%>
  <% end %>
</p>

<p>
<strong>フォロー数</strong>
<%= link_to @user.followings.count, followings_user_path(@user) %>
<strong>フォロワー数</strong>
<%= link_to @user.followers.count, followers_user_path(@user) %>
</p>

<% if current_user == @user %>
  <%= link_to t('views.common.edit'), edit_user_registration_path %> |
<% else %>
  <% if current_user.following?(@user) %>
    <%= form_for(current_user.following_userfollows.find_by(following_id: @user.id), html: { method: :delete }) do |f| %>
    <%= f.submit "フォローをやめる", class: "btn btn-large follow-btn" %>
    <% end %>
  <% else %>
    <%= form_for(current_user.following_userfollows.build(following_id: @user.id)) do |f| %>
    <div><%= f.hidden_field :following_id %></div>
    <%= f.submit "フォローする", class: "btn btn-large btn-primary follow-btn" %>
    <% end %>
  <% end %>
<% end %>  
<%= link_to t('views.common.back'), users_path %>
