<h1><%= t('views.users.user_detail') %></h1>

  <div class="field">
    <%= User.human_attribute_name(:email) %> <br>
    <%= @user.email %>
  </div>
  <div class="field">
    <%= User.human_attribute_name(:postal_code) %><br>
    <%= @user.postal_code %>
  </div>
  <div class="field">
    <%= User.human_attribute_name(:address) %><br>
    <%= @user.address %>
  </div>
  <div class="field">
    <%= User.human_attribute_name(:self_introduction) %><br>
    <%= @user.self_introduction %>
  </div>

<%= button_to t('views.common.back'), '/users', method: 'get' %>
