<% if comments.present? %>
  <% comments.each do |comment| %>
    <p>
      <strong><%= Comment.human_attribute_name(:body) %>:</strong>
      <%= comment.body %>
      （
      <strong><%= Comment.human_attribute_name(:user) %>:</strong>
      <%= comment.user.name.present? ? comment.user.name : comment.user.email %>
      <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
      <%= l comment.created_at %>
      ）
    </p>
  <% end %>
<% end %>