<p id="notice"><%= notice %></p>

<h1><%= t(:'book.books') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t :'book.title' %></th>
      <th><%= t :'book.memo' %></th>
      <th><%= t :'book.author' %></th>
      <th><%= t :'book.picture' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.memo %></td>
        <td><%= book.author %></td>
        <td><%= book.picture %></td>
        <td><%= link_to t(:'action.show'), book %></td>
        <td><%= link_to t(:'action.edit'), edit_book_path(book) %></td>
        <td><%= link_to t(:'action.destroy'), book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:'sentence.new_book'), new_book_path %>
