<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to t('views.translate.edit'), edit_book_path(@book) %> |
  <%= link_to t('views.translate.back'), books_path %>

  <%= button_to t('views.translate.destroy'), @book, method: :delete %>
</div>
