<h1><%= t('views.common.title_show', name: Book.model_name.human) %></h1>

<p>
  <strong><%= Book.human_attribute_name(:title) %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:memo) %>:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:author) %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:picture) %>:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to t('views.common.edit'), edit_book_path(@book) %> |
<%= link_to t('views.common.back'), books_path %>

<p><strong><%= Comment.model_name.human %></strong></p>

<%= form_with(model: [@book, @comment], local: true) do |form| %>
  <div class="field">
    <%= form.label :comment_content %>
    <%= form.hidden_field :commentable_type, value: @comment[:commentable_type] %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.text_area :comment_content, size: '50x5', required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= Comment.human_attribute_name(:created_at) %></th>
      <th><%= Comment.human_attribute_name(:contributor) %></th>
      <th><%= Comment.human_attribute_name(:comment) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @book_comments.empty? %>
      <p>コメントはありません。</p>
    <% else %>
      <% @book_comments.each do |comment| %>
      <tr>
        <td><%= comment[:created_at].to_s(:datetime_jp) %></td>
        <% if comment[:user_name].empty? %>
          <td><%= comment[:email] %></td>
        <% else %>
          <td><%= comment[:user_name] %></td>
        <% end %>
        <td><%= comment[:comment_content] %></td>
        <% if current_user.id == comment[:user_id] %>
          <td><%= link_to t('views.common.edit'), polymorphic_path([:edit, @book, :comment], comment_content: comment[:comment_content], book_id: params[:id],id: comment[:id]) %></td>
          <td><%= link_to t('views.common.destroy'), polymorphic_path([@book, :comment], book_id: params[:id],id: comment[:id]), method: :delete, data: { confirm: t('views.common.delete_confirm') } %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
