<h2><%= t ".follower_users" %></h2>
<% if @users.exists? %>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= t ".followed_count" %>: <%= user.followings.count %></td>
        <td><%= t ".follower_count" %>: <%= user.followers.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p><%= t ".no_users" %></p>
<% end %>