<h2>Follower Users</h2></h2>
<% if @users.exists? %>
  <thead>
    <tr>
      <th>name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= t ".followed_count" %>フォロー数: <%= user.followings.count %></td>
        <td><%= t ".follower_count" %>フォロワー数: <%= user.followers.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p><%= t ".no_users" %></p>
<% end %>