<h1><%= Report.model_name.human %><%= t('views.common.edit') %></h1>

<%= render 'form', report: @report %>

<%= link_to t('views.common.show'), @report %> |
<%= link_to t('views.common.back'), reports_path %>
