<h1><%= Report.model_name.human %></h1>

<table>
  <thead>
    <tr>
      <th><%= Report.human_attribute_name(:title) %></th>
      <th><%= User.model_name.human %></th>
      <th><%= Report.human_attribute_name(:created_at) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <td><%= report.contributor.name %></td>
        <td><%= report.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= link_to t('views.common.show'), report %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('views.common.new'), new_report_path %>
