<h1><%= Report.model_name.human %></h1>

<table>
  <thead>
    <tr>
      <th><%= Report.human_attribute_name(:title) %></th>
      <th><%= Report.human_attribute_name(:user) %></th>
      <th><%= Report.human_attribute_name(:created_on) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <td><%= link_to report.user.name_or_email, report.user %></td>
        <td><%= l report.created_on %></td>
        <td><%= link_to t('views.common.show'), report %></td>
        <% editable = report.editable?(current_user) %>
        <td><%= link_to(t('views.common.edit'), edit_report_path(report)) if editable %></td>
        <td><%= link_to(t('views.common.destroy'), report, method: :delete, data: { confirm: t('views.common.delete_confirm') }) if editable %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @reports %>

<br>

<%= link_to t('views.common.new'), new_report_path %>
