<p>
  <strong><%= Report.human_attribute_name(:title) %></strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %></strong> </br>
  <%= @report.content %>
</p>

<% if @report.user == current_user %>
<%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<%= link_to t('views.common.destroy'), @report, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>
