<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %>:</strong>
  <%= @report.content %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:created_at) %>:</strong>
  <%= l @report.created_at %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:created_by) %>:</strong>
  <%= @report.user.name %>
</p>

<%= render 'comments/comment_lists', comments: @comments %>

<%= render 'comments/comment_form', relation: @report, comment: @comment unless allowed_user?(@report.user) %>

<% if allowed_user?(@report.user) %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>
