<h1><%= Report.model_name.human %></h1>
<%= link_to t('views.common.new'), new_report_path %>
<% if @report.present? %>
  <table>
    <thead>
    <tr>
      <th><%= Report.human_attribute_name(:created_at) %></th>
      <th><%= Report.human_attribute_name(:id) %></th>
      <th><%= Report.human_attribute_name(:title) %></th>
      <th><%= Report.human_attribute_name(:content) %></th>
    <% if current_user.id == @report.user_id %>
      <th><%= t('views.common.edit')%></th>
      <th><%= t('views.common.destroy')%></th>
    <% end %>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= l @report.created_at %></td>
        <td><%= @report.id %></td>
        <td><%= @report.title %></td>
        <td><%= @report.content %></td>
        <% if current_user.id == @report.user_id %>
          <td><%= link_to t('views.common.edit'), edit_report_path %></td>
          <td><%= link_to t('views.common.destroy'), report_path,  method: :delete %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
<% else %>
  <p>データがありません。</p>
<% end %>
<%= link_to t('views.common.back'), reports_path %>
