<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %>:</strong>
  <%= simple_format @report.content %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:user) %>:</strong>
  <%= link_to @report.user.name_or_email, @report.user %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:created_on) %>:</strong>
  <%= l @report.created_on %>
</p>

<div class="comments-container">
  <strong><%= Comment.model_name.human %>:</strong>
  <% if @report.comments.present? %>
    <ul>
      <% @report.comments.includes(:user).each do |comment| %>
        <li>
          <%= comment.content %>
          <small>
            (<%= link_to comment.user.name_or_email, comment.user %> - <%= l comment.created_at, format: :short %>)
          </small>
        </li>
      <% end %>
    </ul>
  <% else %>
    （コメントがありません）
  <% end %>
  <%= form_with model: [@report, @report.comments.new], local: true do |f| %>
    <% # NOTE: ブラウザ側で必須チェックを行い、サーバーサイドの検証エラーを起きにくくする %>
    <%= f.text_field :content, required: true %>
    <%= f.submit %>
  <% end %>
</div>

<% if @report.editable?(current_user) %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>
