<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @report.memo %>
</p>

<%= render partial: "comments/form", locals: { commentable: @report } %>

<% if current_user.id == @report.user_id %>
  <%= link_to 'Edit', edit_report_path(@report) %> |
<% end %>
<%= link_to 'Back', reports_path %>
