<h1><%= Report.model_name.human %></h1>
<table>
  <thead>
    <tr>
      <th><%= t('views.common.title') %></th>
      <th><%= t('views.common.body') %></th>
      <th><%= t('views.common.created_at') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @report.title %></td>
        <td><%= @report.body %></td>
        <td><%= l @report.created_at, format: :short %></td>
        <% if current_user == @report.user %>
          <td><%= link_to t('views.common.edit'), edit_report_path(@report) %> | <%= link_to t('views.common.destroy'), @report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  </tbody>
</table>

<%= link_to t('views.common.back'), reports_path %>

<p>
<%= render partial: 'comments/comments', locals: { commentable: @report } %>
</p>
