<p>
  <strong><%= Report.human_attribute_name(:title) %></strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %></strong> </br>
  <%= @report.content %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:created_at) %></strong> </br>
  <%= @report.created_at.strftime("%Y/%m/%d %H:%M") %>
</p>

<%= render partial:'comments/comments', locals: { comments: @comments } %>
<%= render partial:'comments/form', locals: { comment_to: @report, comment: @comment, url: report_comments_path(@report, @comment) } %>

<% if @report.contributor == current_user %>
<%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<%= link_to t('views.common.destroy'), @report, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>
