<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='nav'>
      <p>
        <% if user_signed_in? %>
          <strong><%= current_user.name %></strong>でログインしています。
          <%= link_to '本一覧', books_path %> |
          <%= link_to 'ユーザー一覧', users_path %> |
          <%= link_to 'プロフィールの変更', edit_user_registration_path %> |
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path %> |
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      </p>
    </div>
    <% if notice %>
      <p><%= notice %></p>
    <% end %>
    <% if alert %>
      <p><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
