<!DOCTYPE html>
<html>
  <head>
    <title><%= User.model_name.human %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to t('views.common.books_list'), books_path %>
    <%= link_to t('views.common.sign_out'), destroy_user_session_path, method: :delete %>
    <%= yield %>
  </body>
</html>
